<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring-validator.xml
            /WEB-INF/dispatcher-service.xml 
        </param-value>
    </context-param>
    <jsp-config>
        <jsp-property-group>
            <description>footer</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/hello.jsp</url-pattern>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header Customer</description>
            <url-pattern>/WEB-INF/view/customerError.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/customerSuccess.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/customer.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/customerHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header Shipper</description>
            <url-pattern>/WEB-INF/view/shipper.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/shipperSuccess.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/shipperHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header Incoming</description>
            <url-pattern>/WEB-INF/view/incomingError.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/incoming.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/incomingHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header Expense</description>
            <url-pattern>/WEB-INF/view/expenseError.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/expense.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/expenseHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>header Remainder</description>
            <url-pattern>/WEB-INF/view/remainder.jsp</url-pattern>
            <url-pattern>/WEB-INF/view/helloRemainder.jsp</url-pattern>
            <include-prelude>/WEB-INF/jspf/remainderHeader.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>
</web-app>
